# GoLand IDE
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
*.code-workspace

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Bazel
/bazel-*

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Linux specific
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows specific
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Binary files
bin/
dist/

# Dependency directories
vendor/

# Log files
*.log

# Junie Configuration
.junie/
/build/
